.container {
    margin: none;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(39, 39, 39);
    position: absolute;
    justify-content: center;
    margin: -8px;
}

.mainbox {
    width: 400;
    height: 600;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    top: 50%;
    margin-top: -300;
    background-color: rgb(15, 15, 15);
    z-index: 2;
    transition: transform 0.2s;
    text-align: center;
}

.mainbox:hover {
    transform: scale(1.05, 1.03);
}

.mainbox:hover ~ #menu-background-pattern {
    background-size: 6vmin 6vmin;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: background-size 1s;
}

.logintext {
    font-family: Dyuthi;
    font-size: xx-large;
    margin-top: -10px;
    color: rgb(100, 100, 100);
}